.flower{
    border-radius: 20px;
}
.image
   {
    display:flex;
    align-items: center;
    justify-content: center;
flex:40%;

}
    

.flower img{
    border-radius: 30px;
    padding:15px;
    width:100%;
    

}
p{
    display: grid;
    place-items: center;
    color: rgb(255, 47, 47);
    background-color: antiquewhite;
    font-size: 40px;
     width:60%;
     margin-left: 200px;
    border-radius: 40px;
    padding: 10px;
    box-shadow: 1px 2px 1px 2px grey;
    margin-top: 10px;

}